<dx-load-panel
    #loadPanel
    [(visible)]='loadingVisible'
    [hideOnOutsideClick]='false'
    [position]="{ of: '#grid' }"
    [shading]='true'
    [showIndicator]='true'
    [showPane]='true'
    message='Carregando ...'
    shadingColor='rgba(0,0,0,0.4)'>
</dx-load-panel>

<crud #crud
      (filtrar)="doFilter()"
      (novoCadastro)="novoCliente()"
      (salvar)="doSave(this.model)"
      (clear)="doClear()"
      [editToolbarTitle]="'Cadastro de Clientes'"
      [listToolbarTitle]="'Pesquisa de Clientes'"
      [mode]='mode'>

    <div *ngIf='mode == ModeEnum.List' crud-list-filter-fields>
        <dx-form>
            <dxi-item [colCount]='2' itemType='group'>
                <dxi-item [label]='{text: "Nome"}' template='nomeTemplate'></dxi-item>
                <dxi-item [label]='{text: "Telefone"}' template='telefoneTemplate'></dxi-item>
            </dxi-item>

            <!--      TEMPLATE      -->
            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box [width]="500">

                </dx-text-box>
            </div>

            <div *dxTemplate="let data of 'telefoneTemplate'">
                <dx-text-box mask='(00) 0000-0000'
                             [width]="250">
                </dx-text-box>
            </div>
        </dx-form>
    </div>

    <div *ngIf='mode == ModeEnum.List' crud-list-result-fields>
        <dx-data-grid [dataSource]='dataSource'>
            <dxi-column dataField='nome'></dxi-column>
            <dxi-column dataField='telefone'></dxi-column>
        </dx-data-grid>
    </div>

    <div *ngIf='mode == ModeEnum.Edit' crud-edit-template>

        <dx-tab-panel>
            <dxi-item title='Dados Cliente'>
                <dx-form #formularioCliente
                         [(formData)]='cliente'
                         [validationGroup]="'validateCliente'"
                         class='formulario'>

                    <dxi-item [colCount]='2' itemType='group'>
                        <dxi-item [isRequired]=' true'
                                  dataField='nome'
                                  template='nomeTemplate'>
                        </dxi-item>

                        <dxi-item [isRequired]=' true'
                                  dataField='telefone'
                                  template='telefoneTemplate'>
                        </dxi-item>
                    </dxi-item>

                    <!--      TEMPLATES   -->
                    <div *dxTemplate="let data of 'nomeTemplate'">
                        <dx-text-box [(value)]='model.nome'
                                     [width]="500">
                        </dx-text-box>
                    </div>

                    <div *dxTemplate="let data of 'telefoneTemplate'">
                        <dx-text-box (onChange)='formatPhone($event)'
                                     [(value)]='model.telefone'
                                     [maxLength]="11"
                                     [width]="250">
                        </dx-text-box>
                    </div>

                </dx-form>
            </dxi-item>

            <dxi-item title='Endereço'>
                <app-endereco-form #formularioEndereco>
                </app-endereco-form>
            </dxi-item>
        </dx-tab-panel>
    </div>

</crud>
