<crud [listToolbarTitle]="'Pesquisa de Lojas'"
      [editToolbarTitle]="'Cadastro de Lojas'"
      (filtrar)="buscarLojas()"
      (novoCadastro)="novaLoja()"
      (salvar)="salvarLoja()"
      (clear)="doClear()">

  <!------------------- LIST CRUD TEMPLATE -------------------->
  <div crud-list-filter-fields *ngIf="Mode == ModeEnum.List">
    <dx-form #mainForm>
      <dxi-item itemType="group" [colCount]="2">
        <dxi-item [label]="{text:'Nome'}"
                  [template]="'nomeTemplate'">

        </dxi-item>

        <dxi-item [label]="{text:'Data Criação'}"
                  [template]="'criacaoTemplate'">

        </dxi-item>
      </dxi-item>
      <dxi-item [label]="{text:'Situação'}"
                [template]="'situacaoTemplate'">

      </dxi-item>

      <!----------------- Templates ----------------->

      <div *dxTemplate="let data of 'nomeTemplate'">
        <dx-text-box [width]="500"
                     [(value)]="nomeLojaFilter">

        </dx-text-box>
      </div>
      <div *dxTemplate="let data of 'criacaoTemplate'">
        <dx-date-box [width]="200"
                     [showClearButton]="true"
                     [useMaskBehavior]="true"
                     [displayFormat]="'dd/MM/yyyy'">

        </dx-date-box>
      </div>

      <div *dxTemplate="let data of 'situacaoTemplate'">
        <dx-select-box [width]="200"
                       [items]="situacaoLojas"
                       [showClearButton]="true">

        </dx-select-box>
      </div>
    </dx-form>
  </div>


  <div crud-list-result-fields *ngIf="Mode == ModeEnum.List">
    <dx-data-grid
      [dataSource]="lojas"
      [rowAlternationEnabled]="true" >
      <dxi-column dataField="nome">

      </dxi-column>
      <dxi-column dataField="telefone"
                  cellTemplate="telefoneTemplate">

      </dxi-column>

      <dxi-column dataField="pedidoMinimo"
                  cellTemplate="pedidoMinimoTemplate">

      </dxi-column>
      <dxi-column dataField="dataAbertura"
                  cellTemplate="dataTemplate"
                  [width]="'auto'">

      </dxi-column>
      <dxi-column dataField="situacao"
                  cellTemplate="situacaoTemplate">

      </dxi-column>

      <!----------------- Templates ----------------->

      <div *dxTemplate="let data of 'pedidoMinimoTemplate'">
        {{ data.value ? 'R$ ' + data.value.toFixed(2) : ''}}
      </div>

      <div *dxTemplate="let data of 'telefoneTemplate'">
        {{ data.value }}
      </div>

      <div *dxTemplate="let data of 'dataTemplate'">
        {{ data.value ? (data.value | date:"dd/MM/yyyy") : "-" }}
      </div>

      <div *dxTemplate="let data of 'situacaoTemplate'">
        {{ data.value && data.value == true ? "Ativo" : "Inativo" }}
      </div>


    </dx-data-grid>
  </div>

  <!------------------- EDIT CRUD TEMPLATE -------------------->

  <div crud-edit-template *ngIf="Mode == ModeEnum.Edit">

    <dx-tab-panel>
      <dxi-item title="teste">
        <dx-form [(formData)]="loja">

          <dxi-item itemType="group" [colCount]="2">
            <dxi-item dataField="dataAbertura"
                      [template]="'dataAberturaTemplate'">

            </dxi-item>
            <dxi-item dataField="situacao"
                      [template]="'situacaoTemplate'">

            </dxi-item>
          </dxi-item>
          <dxi-item dataField="nome"
                    [isRequired]="true"
                    [label]="{text:'Nome'}"
                    [template]="'NomeTemplate'">

          </dxi-item>

          <dxi-item dataField="email"
                    [label]="{text:'Email'}"
                    [template]="'emailTemplate'">

          </dxi-item>

          <dxi-item dataField="pedidoMinimo"
                    [isRequired]="true"
                    [label]="{text:'Pedido Minimo'}"
                    [template]="'pedMinTemplate'">

          </dxi-item>

          <!------------------- TEMPLATE -------------------->
          <div *dxTemplate="let data of 'dataAberturaTemplate'">
            <dx-date-box [width]="200"
                         [showClearButton]="true"
                         [useMaskBehavior]="true"
                         [displayFormat]="'dd/MM/yyyy'">

            </dx-date-box>

          </div>

          <div *dxTemplate="let data of 'situacaoTemplate'">
            <dx-switch></dx-switch>
          </div>

          <div *dxTemplate="let data of 'NomeTemplate'">
            <dx-text-box [width]="500"
                         [placeholder]="'Digite aqui o Nome da sua Loja'"></dx-text-box>
          </div>
          <div *dxTemplate="let data of 'emailTemplate'">
            <dx-text-box [width]="500"
                         [placeholder]="'Digite aqui o seu E-mail'">

            </dx-text-box>
          </div>

          <div *dxTemplate="let data of 'pedMinTemplate'">
            <dx-text-box [width]="150"></dx-text-box>
          </div>

        </dx-form>
<!--        <dx-tab-panel>-->
<!--          <dxi-item title="Contatos">-->

<!--          </dxi-item>-->
<!--        </dx-tab-panel>-->
      </dxi-item>

      <dxi-item title="Endereço">
        <dx-data-grid [dataSource]="endereco"
                      [rowAlternationEnabled]="true" >

        </dx-data-grid>

      </dxi-item>
    </dx-tab-panel>
  </div>


</crud>
