<crud #crud
      (novoCadastro)="novoProduto()"
      (salvar)="salvarProduto()"
      [editToolbarTitle]="'Cadastro de Produtos'"
      [listToolbarTitle]="'Listagem de Produtos'"
      [mode]="mode">

    <div *ngIf="mode === ModeEnum.List" crud-list-filter-fields>
        <dx-form>
            <dxi-item [colCount]="6" itemType="group">
                <dxi-item [colSpan]="4"
                          [label]="{text: 'Nome'}"
                          [template]="'nomeTemplate'">
                </dxi-item>

                <dxi-item [label]="{text: 'Valor'}"
                          [template]="'ValorTemplate'">
                </dxi-item>

                <dxi-item [label]="{text: 'Ativo'}"
                          [template]="'AtivoTemplate'">
                </dxi-item>
            </dxi-item>

            <!--            TEMPLATES           -->

            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box></dx-text-box>
            </div>
            <div *dxTemplate="let data of 'ValorTemplate'">
                <dx-text-box></dx-text-box>
            </div>
            <div *dxTemplate="let data of 'AtivoTemplate'">
                <dx-select-box [dataSource]="dxSelectBoxAtivoOptions">
                </dx-select-box>
            </div>

        </dx-form>
    </div>

    <div *ngIf="mode === ModeEnum.List" crud-list-result-fields>
        <dx-data-grid [dataSource]="produtos">
            <dxi-column caption="Nome do Produto" dataField="nome"></dxi-column>
            <dxi-column caption="Valor R$" dataField="valor"></dxi-column>
            <dxi-column caption="Quantidade" dataField="quantidade"></dxi-column>
            <dxi-column caption="Ativo" cellTemplate="ativoTemplate" dataField="ativo"></dxi-column>

            <!--            TEMPLATE            -->

            <div *dxTemplate="let data of 'ativoTemplate'">
                {{data ? 'Ativo' : 'Inativo'}}
            </div>

        </dx-data-grid>
    </div>

    <div *ngIf="mode === ModeEnum.Edit" crud-edit-template>
        <dx-form #produtoForm
                 [(formData)]="produto">
            <dxi-item [colCount]="2" itemType="group">
                <dxi-item [isRequired]="true"
                          [template]="'nomeTemplate'"
                          dataField="nome">
                </dxi-item>
                <dxi-item [template]="'ativoTemplate'"
                          dataField="ativo">
                </dxi-item>
                <dxi-item [isRequired]="true"
                          [template]="'valorTemplate'"
                          dataField="valor">
                </dxi-item>
                <dxi-item [disabled]="true" dataField="quantidade">
                </dxi-item>
            </dxi-item>

            <!--            TEMPLATES           -->

            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box [(value)]="produto.nome">
                </dx-text-box>
            </div>

            <div *dxTemplate="let data of 'valorTemplate'">
                <dx-number-box [(value)]="produto.valor"
                               [min]="0"
                               [step]="0.01"
                               format="R$ ,##0.00"
                               type="currency">
                </dx-number-box>
            </div>

            <div *dxTemplate="let data of 'ativoTemplate'">
                <dx-switch [(value)]="produto.ativo">
                </dx-switch>
            </div>

        </dx-form>
    </div>
</crud>
